body{
    font-family: "Anonymous Pro", "Space Mono", monospace;
    background-color: rgb(161, 189, 175);
}

header{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem;
}

#Spelunky-Logo{
    max-width: 50%;
    height: auto;
}

.main-buttons {
  border-radius: 0.8rem;
  background-color: rgb(255, 255, 255);
  border: none;
  color: #2f352f;
  font-size: 2rem;
  padding: 20px;
  width: fit-content;
  margin: 5px;
  font-weight: 700;
}

.main-buttons span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.main-buttons:hover span {
  padding-left: 25px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}