body{
    font-family: "Noto Sans", "Space Mono", monospace;
    background-color: rgb(170, 207, 176);
    font-size: 16px;
}

header{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2em;
}

h1{
  font-size: 4em;
  color: white;
  line-height: 1em;
}
h2{
  color: white;
  font-size: 2em;
}

#zeblog-Logo{
    max-width: 25%;
    height: auto;
}

.main-buttons {
  border-radius: 2em;
  background-color: rgb(255, 255, 255);
  border: none;
  color: #2f352f;
  font-size: 2em;
  padding: 20px;
  width: fit-content;
  margin: 5px;
  font-weight: 700;
}

.main-buttons span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.main-buttons:hover span {
  padding-left: 25px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.Container{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.Main-Sections{
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: whitesmoke; */
  padding: 0rem 2em 2em 2em;
  border-radius: 0.5em;
  width: fit-content;
}

.Main-Image{
  border: solid 1px black;
  width: max-content;
  height: auto;
  max-height: 200px;
  box-shadow: 1px 1px 5px black;
}


.Main-Div{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: rgb(243, 243, 243);
  padding: 2em;
  /* border-radius: 1rem; */
  margin: auto;
}

.Sub-Div{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  gap: 2em;
}

.Info{
  /* background-color: rgb(214, 238, 220);
  box-shadow: 0px 0px 4px rgb(162, 179, 162); */
  padding: 0rem 2em;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.Title{
  font-size: 2em;
  text-decoration: none;
  color: black;
}

.Info-Titles{
  text-transform: uppercase;
  display: flex;
  width: fit-content;
  margin: 0.2em 0em;
}

.Specs{
  color: #2f352f;
  text-transform:none;
  text-indent: 10px;
}

.Info-Titles-Container{
  line-height: 0.1em;
}